<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="#" type="application/javascript">
    <title>{% block title %}Optimizer{% endblock %}</title>
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href={{ url_for('static', filename="vendor/fontawesome-free/css/all.min.css") }}>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link rel="stylesheet" href={{ url_for('static', filename="vendor/sb_admin_2/css/sb-admin-2.min.css") }}>
    <link rel="stylesheet" href={{ url_for('static', filename="css/custom_style.css") }}>

    {% block additional_css %}{% endblock %}

</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    {% include 'shared/_app_layout/sidebar.html' %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            {% include 'shared/_app_layout/top_bar.html' %}

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- flash message space -->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-warning alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}


                <!-- Workspace -->
                {% block workspace %}No content{% endblock %}
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Optimiseur de production hydroélectrique, 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Bootstrap core JavaScript-->
<script src={{ url_for('static', filename="vendor/jquery/jquery.min.js") }}></script>
<script src={{ url_for('static', filename="vendor/bootstrap/js/bootstrap.bundle.min.js") }}></script>
<!-- Core plugin JavaScript-->
<script src={{ url_for('static', filename="vendor/jquery-easing/jquery.easing.min.js") }}></script>
<!-- Custom scripts for all pages-->
<script src={{ url_for('static', filename="vendor/sb_admin_2/js/sb-admin-2.min.js") }}></script>

{% block additional_js %}{% endblock %}

</body>
</html>
