<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}No title{% endblock %}</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href={{ url_for('static', filename="vendor/fontawesome-free/css/all.min.css")}} type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" href={{ url_for('static', filename="vendor/sb_admin_2/css/sb-admin-2.min.css")}} >

    {% block additional_css %}{% endblock %}

</head>

<body class="bg-gradient-primary">

<div class="container">
    {% block main_content %}{% endblock %}
</div>

<!-- Bootstrap core JavaScript-->
<script src={{ url_for('static', filename="vendor/jquery/jquery.min.js")}}></script>
<script src={{ url_for('static', filename="vendor/bootstrap/js/bootstrap.bundle.min.js")}}></script>

<!-- Core plugin JavaScript-->
<script src={{ url_for('static', filename="vendor/jquery-easing/jquery.easing.min.js")}}></script>

<!-- Custom scripts for all pages-->
<script src={{ url_for('static', filename="/vendor/sb_admin_2/js/sb-admin-2.min.js")}}></script>

{% block additional_js %}{% endblock %}

</body>

</html>
