<!DOCTYPE html>
<html>
<html lang="fr">
    <head>
        <meta charset="latin-1" />
		<title>{{ titre }}</title>
    </head>

    <body>
        <h1>{{ titre }}</h1>
        <h3>{{titre2}}</h3>		
		<pre>{{parametres}}</pre>
		<h3>{{titre3}}</h3>
		<pre>{{resultat}}</pre>

        <a href="/parameters.html">Continuer</a>

    </body>
</html>
