{% extends "shared/_app_layout.html" %}
{% block title %} Erreur 404 {% endblock %}
{% block workspace %}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead text-gray-800 mb-5">Page non trouvée</p>
        <a href="/">&larr; Retour au tableau de bord</a>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock %}
