{% if vm.error %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"
                aria-label="Close"><span
                aria-hidden="true">×</span></button>
        {{ vm.error }}
    </div>
{% else %}
    <div class="row">
        <div class="card shadow mx-auto mb-4">
            <div class="card-header">
                Énergie totale :
            </div>
            <div class="card-body mx-auto">
                <div id="total_energy">
                    {{ energy }} MWh
                </div>
            </div>
        </div>
    </div>

    {% for centrale in range(nb_centrales * 2) %}
        <div class="row">
            {% if not centrale % 2 %}
                <div class="card shadow mx-auto mb-4">
                    <div class="card-header">
                        Volumes en fonction des périodes de la centrale {{ ((centrale/2) + 1) | int }}
                    </div>
                    <div class="card-body mx-auto">
                        <div id="scattergraph{{ centrale }}">
                            <script type="text/javascript">
                                var graphs = {{ plot[centrale] | safe }};
                                Plotly.newPlot('scattergraph{{centrale}}', graphs, {responsive: true});
                            </script>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="card shadow mx-auto mb-4">
                    <div class="card-header">
                        Débits en fonction des périodes de la centrale {{ ((centrale/2) + 1) | int }}
                    </div>
                    <div class="card-body mx-auto">
                        <div id="scattergraph{{ centrale }}">
                            <script type="text/javascript">
                                var graphs = {{ plot[centrale] | safe }};
                                Plotly.newPlot('scattergraph{{centrale}}', graphs, {responsive: true});
                            </script>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}
