{% extends "shared/_app_layout.html" %}

{% block title %} Index {% endblock %}
{% block workspace %}
    <div id="display_result">

    </div>
{% endblock %}

{% block additional_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../static/plotly-latest.min.js"></script>
{% endblock %}
