<!DOCTYPE html>
<html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
		<title>{{ titre }}</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="../static/plotly-latest.min.js"></script>
    </head>

    <body>
        <h1>{{ titre }}</h1>
        <h3>{{ titre2 }}</h3>

        {% if not resultat %}
            <div>
                <form method="post">
                    <fieldset>
                        <div>
                            <strong>
                                <h3>{{titre3}}</h3>
                                <label for='nom_file'>Nom fichier:</label>
                                <input type="text" id="nom_file" name="nom_file" value="init.txt"><br>
                                <label for='nb_cent'>Nb centrales:</label>
                                <input type="number" id="nb_cent" name="nb_cent" value="3"><br>
                                <label for='nb_per'>Nb périodes:</label>
                                <input type="number" id="nb_per" name="nb_per" value="10"><br>
                                <label for='duree'>Durée périodes:</label>
                                <input type="number" id="duree" name="duree" value="12"><br>
                                <input type="submit" id="submit" name="submit" value="Solve!">
                            </strong>
                        </div>
                    </fieldset>
                </form>
            </div>

        {% else %}
            <div>
        		<pre>{{ parametres }}</pre>
        		<h3>{{ titre3 }}</h3>
                {% for i in range(nb_centrales) %}
                    <div class="chart" id="scattergraph{{i}}">
                        <script type="text/javascript">
                            var graphs = {{ plot[i] | safe }};
                            Plotly.newPlot('scattergraph{{i}}',graphs,{});
                        </script>
                    </div>
                {% endfor %}
        		<pre>{{ resultat }}</pre>
                <a href="/">Continuer</a>
            </div>
        {% endif %}

    </body>
</html>
