{% extends "shared/_login_layout.html" %}

{% block title %} Login {% endblock %}

{% block main_content %}
    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <img class="col-lg-6 d-none d-lg-block" src="/static/img/hydroelec_dam_login.jpg">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Bienvenue!</h1>
                                </div>
                                <form class="user" action="" method="post">
                                    <div class="form-group">
                                        <input name="email" type="email" class="form-control form-control-user"
                                               id="InputEmail" aria-describedby="emailHelp"
                                               placeholder="Entrez votre adresse courriel..." required>
                                    </div>
                                    <div class="form-group">
                                        <input name="password" type="password" class="form-control form-control-user"
                                               id="InputPassword" placeholder="Mot de passe" required>
                                    </div>
                                    <!-- TODO Make it work when time
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck">
                                            <label class="custom-control-label" for="customCheck">Se souvenir</label>
                                        </div>
                                    </div>
                                    -->
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Connexion
                                    </button>
                                </form>
                                {% if vm.error %}
                                    <div class="alert alert-warning alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert"
                                                aria-label="Close"><span
                                                aria-hidden="true">×</span></button>
                                        {{ vm.error }}
                                    </div>
                                {% endif %}
                                <hr>
{#                                <div class="text-center">#}
{#                                    <a class="small" href="/account/forgot_password">Oublié votre mot de passe?</a>#}
{#                                </div>#}
                                <div class="text-center">
                                    <a class="small" href="/account/register">Créer un compte!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}

