{% extends "shared/_login_layout.html" %}

{% block title %} Register {% endblock %}

{% block main_content %}

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <img class="col-lg-5 d-none d-lg-block" src="/static/img/hydroelec_dam_register.jpg">
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Créer un compte!</h1>
                            </div>
                            <form action="" method="post" class="user">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input name="first_name" type="text" class="form-control form-control-user"
                                               id="FirstName"
                                               placeholder="Prénom" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input name="last_name" type="text" class="form-control form-control-user"
                                               id="LastName"
                                               placeholder="Nom de famille" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input name="email" type="email" class="form-control form-control-user"
                                           id="InputEmail"
                                           placeholder="Courriel" required>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input name="password" type="password" class="form-control form-control-user"
                                               id="InputPassword" placeholder="Mot de passe" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input name="repeated_password" type="password"
                                               class="form-control form-control-user"
                                               id="RepeatPassword" placeholder="Répétez votre mot de passe" required>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Créer le compte
                                </button>
                            </form>
                            {% if vm.error %}
                                <div class="alert alert-warning alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert"
                                            aria-label="Close"><span
                                            aria-hidden="true">×</span></button>
                                    {{ vm.error }}
                                </div>
                            {% endif %}
                            <hr>
{#                            <div class="text-center">#}
{#                                <a class="small" href="/account/forgot_password">Oublié votre mot de passe?</a>#}
{#                            </div>#}
                            <div class="text-center">
                                <a class="small" href="/account/login">Déjà un compte? Connectez vous!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}