<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-text mx-3">Optimiseur de production hydroélectrique</div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        Scénario courant
    </div>
    <!-- Nav Item - Pages Collapse Menu -->
    {% if session['user_file_name'] != '' and session['user_file_name'] != None %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_power_plant_1"
               aria-expanded="true" aria-controls="collapseTwo">
                <div id="hide_long_string">
                    <i class="fas fa-industry mb-auto mt-auto"></i>
                    {{ session['user_file_name'] }}
                </div>
            </a>
            <div id="collapse_power_plant_1" class="collapse" aria-labelledby="headingTwo"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Nombre de centrale :</h6>
                    <span class="collapse-item">{{ session['nb_power_plant'] }}</span>
                    <h6 class="collapse-header">Nombre de période :</h6>
                    <span class="collapse-item">{{ session['period_number'] }}</span>
                    <h6 class="collapse-header">Durée de la période :</h6>
                    <span class="collapse-item">{{ session['period_duration'] }}</span>
                </div>
            </div>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_power_plant_1"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-industry"></i>
                <span>Aucun</span>
            </a>
        </li>
    {% endif %}
</ul>
