<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
     xmlns="http://www.w3.org/1999/html">
    <!-- Topbar edition buttons -->

    <!-- New scenario button -->
    <div class="d-none d-sm-inline-block form-inline mr-1">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#file_input">
            <i class="fas fa-plus"></i>
        </button>
    </div>

    <!-- Open folder button -->
    <div class="d-none d-sm-inline-block form-inline mr-1">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#saved_file_input">
            <i class="fas fa-folder-open"></i>
        </button>
    </div>

    <!-- Save button -->
    <div class="input-group-append d-none d-sm-inline-block form-inline mr-1">
        <a id="save_button" href="/download_result">
            <i class="fas fa-save btn btn-primary"></i>
        </a>
    </div>

    <!-- Divider -->
    <div class="topbar-divider d-none d-sm-block"></div>

    <!-- Play button -->
    <div class="d-none d-sm-inline-block form-inline mr-1">
        <button id="play_button" class="btn btn-primary" type="button">
            <i class="fas fa-play"></i>
        </button>
    </div>

    <!-- MODALS -->

    <!-- Modal open file -->
    <form id="select_file_form" enctype=multipart/form-data>
        <div class="modal modal-lg fade" id="saved_file_input" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Utiliser un scénario existant</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <input type="hidden" name="home_form_type" value="saved_file">
                        <div class="row">
                            <div class="col-6">
                                <div class="list-group" id="list-tab" role="tablist" name="zelist">
                                    <!-- <select id="file_selection" name="file_selection"> -->
                                    {% if vm.user_files %}
                                        {% for user_file in vm.user_files %}
                                            <a class="list-group-item list-group-item-action"
                                               id="trigger_list-{{ user_file.id }}"
                                               data-toggle="list" href="#list-{{ user_file.id }}" role="tab"
                                               aria-controls="{{ user_file.id }}" id="file{{ loop.index }}"
                                               name="{{ user_file.file_name }}.{{ user_file.nb_power_plant }}.{{ user_file.nb_period }}.{{ user_file.period_duration }}">
                                                <span id="hide_long_string">{{ user_file.file_name }}</span>
                                            </a>

                                            <input name="file_name{{ loop.index }}" type="hidden"
                                                   value="{{ user_file.file_name }}.{{ user_file.nb_power_plant }}.{{ user_file.nb_period }}.{{ user_file.period_duration }}">

                                            <input name="loop_index" type="hidden" value="{{ loop.index }}">

                                        {% endfor %}
                                    {% else %}
                                        <a class="list-group-item list-group-item-action active" id="list-home-list"
                                           data-toggle="list" href="#list-home" role="tab"
                                           aria-controls="home">Aucun</a>
                                    {% endif %}
                                    <!-- </select> -->
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="tab-content" id="nav-tabContent">
                                    {% if vm.user_files %}
                                        {% for user_file in vm.user_files %}
                                            <div class="tab-pane fade" id="list-{{ user_file.id }}"
                                                 role="tabpanel"
                                                 aria-labelledby="list-{{ user_file.id }}">
                                                <div class="m-1">
                                                    Nb. de centrales : {{ user_file.nb_power_plant }}
                                                </div>
                                                <div class="m-1">
                                                    Nb. de périodes : {{ user_file.nb_period }}
                                                </div>
                                                <div class="m-1">
                                                    Durée de la période : {{ user_file.period_duration }}
                                                </div>
                                            </div>

                                        {% endfor %}
                                    {% else %}
                                        <div class="tab-pane fade" id="list-home" role="tabpanel"
                                             aria-labelledby="list-home-list">Nb. de centrales
                                            : Aucun
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Fermer
                            </button>
                            <button id="delete_scenario_btn" class="btn btn-primary m-4" type="button">
                                Supprimer
                            </button>
                            <button type="button" id="submit_btn" class="btn btn-primary">
                                Utiliser
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <!-- Modal new scenario-->
    <form enctype=multipart/form-data id="file_upload_form" method=post>
        <div class="modal modal-lg fade" id="file_input" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ajouter un nouveau scénario</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <input name="home_form_type" type="hidden" value="upload_file">
                        <div class="form-group">
                            <label for="power_plant_input">Choisissez le fichier de données du réseau de production
                                (.csv ou .xlsx)</label>
                            <input type="file" name=power_plant_input id="power_plant_input" required="required">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" id="submit_btn" class="btn btn-primary">Importer</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Topbar user management -->
    {% if vm.user %}
        <ul class="navbar-nav ml-auto">
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ vm.user.first_name }}</span>
                    <i class="fas fa-user text-black-50"></i>
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a href="/account" class="dropdown-item">
                        Compte
                    </a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        Se déconnecter
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    </a>
                </div>
            </li>
        </ul>
    {% endif %}

</nav>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Voulez-vous vraiment vous déconnecter?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Sélectionnez "Se déconnecter" ci-dessous si vous êtes prêt à vous déconnecter.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Fermer</button>
                <a class="btn btn-primary" href="/account/logout">Se déconnecter</a>
            </div>
        </div>
    </div>
</div>

{% block additional_js %}
    <script src={{ url_for('static', filename="js/home_top_bar.js")}}></script>
{% endblock %}
