/* #dropBox {
	display: inline;
    width: 100px;
    height: 100px;
    border: 5px dashed gray;
    background: lightyellow;
    text-align: center;
    margin: 20px 20px 0 900px;
    color: orange;        
}

#dropBox img {
    margin: 0 110px 0 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
 */
img {
	width: 100px;
	height: 100px
}

form {
	display: inline;
}

p {
	display: block;
	margin: 0 0 0 25px;
	/*margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;*/
}

div {
	display: block;
	margin: 20px 0 0 25px;
	/*margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;*/
}

#go {
	display: block;
	margin: 0 0 0 25px;
}

input {
	display: inline;
	margin: 0 100px 0 0;
}

fieldset {
	display: inline;
	margin-left: 20px;
	margin-right: 600px;
	padding-top: 0.35em;
	padding-bottom: 0.625em;
	padding-left: 20px;
	padding-right: 20px;
	border: 2px groove (internal value);
}